---
import "../styles/global.css";
interface Props {
  title?: string;
  concept?: string;
}
const { title = "Hubble", concept } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400..700;1,9..144,400..600&family=Shantell+Sans:ital,wght@0,400..700;1,400..600&display=swap"
      rel="stylesheet"
    />
    {concept && <meta name="x-concept" content={concept} />}
  </head>
  <body>
    <slot />
  </body>
</html>
